.header-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 80px;
    background-color:  rgba(0, 0, 0, 0.41);
}

.title-header {
    display: flex;
}

.title-header-href {
    /* padding: 20px 80px 20px 80px; */
    text-transform: uppercase;
}

.header-menu-list {
    display: flex;
    flex-direction: row;
    /* margin-left: 730px; */
    
}

.header-menu-element {
    display: flex;
    margin-right: 25px;  
}

.nav-element-img-1 {
    width: 19px;
    height: 19px;
    background: url("../img/css_sprites.png") -10px -50px;
}

.nav-element-img-2 {
    width: 28px;
    height: 20px;
    background: url("../img/css_sprites.png") -10px -10px;
}

.nav-element-img-3 {
    width: 20px;
    height: 20px;
    background: url("../img/css_sprites.png") -58px -10px;
}

.wrap-log-form {
    display: flex;
    align-items: center;
    position: relative;
}

.style-line {
    /* display: flex; */
    /* position: relative;
    top: 20px; */
    position: absolute;
    width: 1px;
    height: 19px;
    margin-right: 25px;
    background-color: #312f2f;
}

.log-form {
    display: flex;

}

.log-form-text-href {
    display: block;
    color:  #3cb878;
}

.style-line {
    display: flex;
}