.main-box {
    display: flex;
}

.inside-wraper-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px 60px;
    margin: 0 auto;
    margin-top: 220px;
    border-radius: 7px;
    background-color: #ffffff;
}

.main-box-header {
    display: flex;
    flex-direction: row;
}

.sign-up-main {
    font-size: 20px;
    color:  #434343;
}

.log-in-main {
    margin-left: 205px;
}

.sns-service {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.button-sns {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    position: relative;
    width: 157px;
    height: 46px;
    padding: 9px 0;
    border-radius: 3px;  
}

.button-sns:nth-child(2) {
    margin-left: 8px;
}

.wrap-button-sns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 109px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.wrap-logo-sns {
    width: 48px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.wrap-logo-sns-facebook {
    background-image: url(../img/facebook1.png);
}

.wrap-logo-sns-google {
    background-image: url(../img/G+.png);
}

.button-sns-facebook {
    
}

.button-sns-google_plus {
    
}

.main-box-styleline-a {
    display: flex;
    margin-top: 33px;
}

.wrap-styleline-a {
    display: flex;  
    align-items: center;
    width: 100%;
}

.text-styleline-a {
    color:  #848484;
    margin: 0 auto;
}

/* .text-styleline-a::before {
    content: "";
    width: 1px;
    height: 135px;
    background-color: #eaeaea;
} */

.line-styleline-a {
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
}

.log-form-input {
    margin-top: 8px;
}

.form-container {
    margin-top: 12px;
}

.input-a {
    box-sizing: border-box;
    width: 100%;
    padding: 18px;
    border: 1px solid #ebebeb;
    color: #bebebe;
    outline-color: transparent;
}

.input-a::placeholder {
    color: #bebebe;
}

.input-a:focus {
    box-shadow: 0 2px 12px rgba(0,0,0,0.4);
    color: #434343;
}

/* .log-form-agreement {
    display: flex;
    margin-top: 22px;
} */

.accepted-form {
    display: flex;
    margin-top: 22px;
}

.input-label-a {
    display: flex;
}

.input-checkbox-a {

}

.button-create-account {
    max-width: 322px;
    padding: 17px 100px;
    margin-top: 28px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background-color: #39ba78;

}