@import url(main.css);
@import url(header.css);

body {
    background-image: url(../img/rana-sawalha-364253-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-style {
    font-family: Verdana;
    text-decoration: none;
}

.text-typeface-bold {
    font-size: 20px;
    font-weight: 700;
}

.text-typeface-normal {
    font-size: 14px;
}

.text-color-green {
    color:  #3cb878;
}

.text-color-white {
    color:  #ffffff;
}

.text-color-gray {
    color:  #434343;
}

.background-color-blue {
    background-color: #305db8;
}

.background-color-red {
    background-color: #df4a32;
}

.padding-style-header {
    padding: 20px 0 20px 0;
}

.ppp {
    display: flex;
}